<html>

<head>
</head>

<body>
<h1>Quotes</h1>

<form action="/new_quote" method="post">

<input type="text" id="name" name="name" placeholder="name">
<br><br>
<textarea placeholder="new quote here" name="quote"></textarea>
<br><br>
<input type="submit" name="submit" value="submit my quote">
<br><br>
<a href="/quotes">go to quotes</a>

</form>

</body>

</html>
